MONGODB_URI=mongodb://davejuliales_db_user:l37NHFcfPd4qRs9L@ac-dvzbxyt-shard-00-00.xzadqnj.mongodb.net:27017,ac-dvzbxyt-shard-00-01.xzadqnj.mongodb.net:27017,ac-dvzbxyt-shard-00-02.xzadqnj.mongodb.net:27017/?ssl=true&replicaSet=atlas-5ag3xj-shard-0&authSource=admin&appName=MyTalipapa
JWT_SECRET=your_jwt_secret_here
PORT=5000
NODE_ENV=development
# Email SMTP Settings
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=mytalipapa@gmail.com
SMTP_PASS=dzpogfzjyjsiguux
EMAIL_FROM="My Talipapa" <mytalipapa@gmail.com>
